body {    
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 0;
    padding: 0;
    background-color: rgb(231, 231, 231);
    font-size: large;
}

div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    text-align: center;
    padding-right: 1em;
    padding-left: 1em;
    margin: 0;
}

h2 {
    padding: 0;
    margin: 0;
}

/* Error Case Default */
.output-error {
    color: red;
}

/* Output Default */
.output {
    color: rgb(0, 168, 0);
}

.section {
    padding-top: 1em;

    margin: 1em auto;

    border: 5px solid rgb(117, 117, 117);
    border-radius: 2px;

    max-width: 600px;
}

input[type="number"] {
    -moz-appearance: textfield; /* Firefox */
    -webkit-appearance: none; /* Chrome, Safari, Edge */
    appearance: none; /* Standard */
}

